DEBUG=false
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres-{{PROJECT_NAME}}
POSTGRES_PORT={{POSTGRES_PORT}}
POSTGRES_DB={{PROJECT_NAME}}
REDIS_HOST=redis-{{PROJECT_NAME}}
REDIS_PORT={{REDIS_PORT}}
REDIS_PASSWORD=changeme
API_HTTP_PORT={{BACKEND_PORT}}
API_GRPC_PORT={{GRPC_PORT}}
API_DOMAIN=https://{{PROJECT_DOMAIN}}
JWT_SECRET=changeme
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
